<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению. Сессия № 2
</center>
Автор материала: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center> Домашнее задание № 1
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (качать данные не надо, они уже есть в репозитории). Данные использовались в соревновании [Ml Boot Camp 5](http://mlbootcamp.ru/round/12/sandbox/).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/8D8uDf).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [2]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [3]:
df = pd.read_csv('D:/Yorko/mlcourse_open/data/mlbootcamp5_train.csv', sep=';', index_col='id')

Посмотрим не первые 5 записей.

In [4]:
df.head(6)

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
8,21914,1,151,67.0,120,80,2,2,0,0,0,0

**<font color='red'>Вопрос 1 (1 балл).</font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [5]:
mydf = df
mydf['id'] = df.index
print(mydf.groupby('gender').agg({'id': 'count', 'height': 'mean'}))

print(len(mydf[mydf.gender == 1]), len(mydf[mydf.gender == 2]))

           id      height
gender
1       45530  161.355612
2       24470  169.947895
45530 24470

**<font color='red'>Вопрос 2 (1 балл).</font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- женщины
- мужчины

In [6]:
print(len(mydf[(mydf.gender == 2) & (mydf.alco)])/len(mydf[mydf.gender == 2]), 
len(mydf[(mydf.gender == 1) & (mydf.alco)])/len(mydf[mydf.gender == 1]))

print(len(mydf[(mydf.gender == 2) & (mydf.alco==True)]), len(mydf[(mydf.gender == 1) & (mydf.alco==True)]))

0.10637515324887617 0.02549967054689216
2603 1161

**<font color='red'>Вопрос 3 (1 балл).</font> Во сколько раз (округленно) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [7]:
smokeman = len(mydf[(mydf.gender == 2) & (mydf.smoke==True)])/len(mydf[mydf.gender == 2])
smokewoman = len(mydf[(mydf.gender == 1) & (mydf.smoke==True)])/len(mydf[mydf.gender == 1])
print((smokeman/smokewoman))

12.257833097333833

**<font color='red'>Вопрос 4 (1 балл).</font> Вы наверняка заметили, что значения возраста какие-то странные. Догадайтесь, в чем здесь измеряется возраст, и ответьте, на сколько месяцев (примерно) отличаются медианные значения возраста курящих и некурящих.**

**<font color='red'>Варианты:</font>**
- 5
- 10
- 15
- 20

In [8]:
print((mydf.age/365).describe())
-df.age[df.smoke == False].median()/30 + df.age[df.smoke == True].median()/30

count    70000.000000
mean        53.339358
std          6.759594
min         29.583562
25%         48.394521
50%         53.980822
75%         58.430137
max         64.967123
Name: age, dtype: float64

-19.899999999999977

**<font color='red'>Вопрос 5 (2 балла).</font> В [статье](https://ru.wikipedia.org/wiki/Сердечно-сосудистый_риск) на Википедии про сердечно-сосудистый риск показана шкала SCORE для расчёта риска смерти от сердечно-сосудистого заболевания в ближайшие 10 лет. Вот она:**
<img src='../../img/SCORE2007.png' width=70%>

Давайте посмотрим на правый верхний прямоугольник, отображающий сегмент курящих мужчин в возрасте от 60 до 65 лет. (Неочевидно, но тут для возраста и давления цифры означают верхнюю границу).

Видим 9-ку в левом нижнем углу этого прямоугольника и 47 – в правом верхнем. То есть если при этом систолическое (т.е. верхнее) артериальное давление – меньше 120 мм рт.ст., то риск ССЗ оценивается примерно в 5 раз ниже, чем если бы давление лежало в интервале [160, 180). 

Давайте посчитаем аналогичное значение, но на наших данных. 

Уточнения:
- Посчитайте признак ``age_years`` – возраст в годах, округлив до целых. Для данного примера отберите людей от 60 до 64 лет включительно
- Категории уровня холестрина на рисунке и в наших данных отличаются. Отображение значений на картинке в значения признака ``cholesterol`` следующее: 4 ммоль/л $\rightarrow$ 1, 5-7 ммоль/л $\rightarrow$ 2, 8 ммоль/л $\rightarrow$ 3.

Во сколько раз (округленно) отличаются доли больных в двух сегментах, описанных выше? Посчитайте на наших данных.

**<font color='red'>Варианты:</font>**
- 2
- 3
- 4
- 5

In [14]:
mydf['age_years'] = round(mydf.age/365)
mydfred = mydf[(mydf['age_years'] >= 60) & (mydf['age_years'] <= 64) & (mydf.gender == 2) & (mydf.smoke == True)]
print(len(mydfred))

tab1 = mydfred[(mydfred.ap_hi < 120) & (mydfred.cholesterol == 1)]
print(len(tab1))
tab2 = mydfred[(mydfred.ap_hi >= 160) & (mydfred.ap_hi < 180) & (mydfred.cholesterol == 3)]
print(len(tab2))

val1 = len(tab1[tab1.cardio == True])/len(tab1)
val2 = len(tab2[tab2.cardio == True])/len(tab2)
print(val2/val1)
print(val1, val2)

994
78
22
3.3681818181818186
0.2564102564102564 0.8636363636363636

**<font color='red'>Вопрос 6 (2 балла).</font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [10]:
mydf['bmi'] = (mydf.weight.values)/((0.01*mydf.height.values)**2)
print(mydf['bmi'].median())
print(mydf[mydf.gender == 2]['bmi'].mean(), mydf[mydf.gender == 1]['bmi'].mean())
print(mydf[mydf.cardio == False]['bmi'].mean(), mydf[mydf.cardio == True]['bmi'].mean())
print(mydf[(mydf.cardio == False) & (mydf.alco == False) & (mydf.gender == 2)]['bmi'].describe(),
     mydf[(mydf.cardio == False) & (mydf.alco == False) & (mydf.gender == 1)]['bmi'].describe())

26.374068120774975
26.75444235728947 27.987583441833113
26.548175206794745 28.566060627015435
count    10748.000000
mean        25.872638
std          4.918895
min         14.609204
25%         23.306680
50%         25.102391
75%         27.755102
max        170.414201
Name: bmi, dtype: float64 count    22332.000000
mean        26.845407
std          5.843207
min          9.331007
25%         23.437500
50%         25.654372
75%         29.384676
max        237.768633
Name: bmi, dtype: float64

**<font color='red'>Вопрос 7 (2 балла).</font> ** Можно заметить, что данные не особо-то чистые, много в них всякой "грязи" и неточностей. Еще лучше мы это увидим, когда обсудим визуализацию данных.

Отфильтруйте следующие сегменты пациентов (считаем это ошибками в данных)
- указанное нижнее значение артериального давления выше верхнего. 
- рост строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили (используте `pd.Series.quantile`, если не знаете, что это такое – прочитайте)
- вес строго меньше 2.5%-перцентили или строго больше 97.5%-перцентили

Этот вовсе не вся чистка данных, которую можно было проделать, но пока остановимся на этом.

Сколько процентов данных (округленно) мы выбросили?

**<font color='red'>Варианты:</font>**
- 8
- 9
- 10
- 11

In [11]:
mydf = df
hq1 = mydf.height.quantile(0.025)
hq2 = mydf.height.quantile(0.975)
print(hq1, hq2)
wq1 = mydf.weight.quantile(0.025)
wq2 = mydf.weight.quantile(0.975)
print(wq1, wq2)
mydfpure = mydf[mydf.ap_lo <= mydf.ap_hi]
print(1-len(mydfpure)/len(mydf))
mydfpure = mydfpure[(mydfpure.height >= hq1) & (mydfpure.height <= hq2)]
print(1-len(mydfpure)/len(mydf))
mydfpure = mydfpure[(mydfpure.weight >= wq1) & (mydfpure.weight <= wq2)]
print(1-len(mydfpure)/len(mydf))

150.0 180.0
51.0 108.0
0.017628571428571438
0.05915714285714291
0.09630000000000005

In [12]:
mydfpure2 = mydf[mydf.ap_lo <= mydf.ap_hi]
print(1-len(mydfpure2)/len(mydf))
hq1 = mydfpure2.height.quantile(0.025)
hq2 = mydfpure2.height.quantile(0.975)
mydfpure2 = mydfpure2[(mydfpure2.height >= hq1) & (mydfpure2.height <= hq2)]
print(1-len(mydfpure2)/len(mydf))
wq1 = mydfpure2.weight.quantile(0.025)
wq2 = mydfpure2.weight.quantile(0.975)
#print(1-len(mydfpure2)/len(mydf))
mydfpure2 = mydfpure2[(mydfpure2.weight >= wq1) & (mydfpure2.weight <= wq2)]
print(1-len(mydfpure2)/len(mydf))

0.017628571428571438
0.05915714285714291
0.10308571428571434

In [13]:
first = df['ap_lo'] > df['ap_hi']
second = (df['height'] < df['height'].quantile(0.025)) | (df['height'] > df['height'].quantile(0.975))
third = (df['weight'] < df['weight'].quantile(0.025)) | (df['weight'] > df['weight'].quantile(0.975))
result = df[first | second | third]
print(len(result)/len(df))

0.0963